Repository joyent/conch-api, pull requests merged in 2019-05, with the labels that each got.

#754 fix leaky logs
  lib/Conch/Plugin/Logging.pm
Labels: bug, high priority, security

#756 fix: request and response bodies are not always json hashes
  lib/Conch/Plugin/Logging.pm
Labels: bug, high priority

#758 add some extra logging when parsing the JWT
  lib/Conch/Controller/Login.pm
Labels: api

#757 schema tightening
  docs/modules/conch-db-resultset-useraccount.md
  json-schema/device_report.yaml
  json-schema/input.yaml
  json-schema/response.yaml
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/Schema.pm
  lib/Conch/DB/ResultSet/UserAccount.pm
  t/integration/00_only_1_user_loaded.t
  t/schema.t
Labels: api, breaking

#764 rework our logging infrastructure
  conch.conf.dist
  cpanfile
  cpanfile.snapshot
  docs/modules/Conch::Log.md
  docs/modules/Conch::Role::MojoLog.md
  docs/modules/Test::Conch.md
  lib/Conch/Controller/Datacenter.pm
  lib/Conch/Controller/DatacenterRoom.pm
  lib/Conch/Controller/Device.pm
  lib/Conch/Controller/DeviceInterface.pm
  lib/Conch/Controller/DeviceLocation.pm
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/Controller/DeviceSettings.pm
  lib/Conch/Controller/DeviceValidation.pm
  lib/Conch/Controller/HardwareProduct.pm
  lib/Conch/Controller/HardwareVendor.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/Rack.pm
  lib/Conch/Controller/RackLayout.pm
  lib/Conch/Controller/RackRole.pm
  lib/Conch/Controller/Relay.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/Validation.pm
  lib/Conch/Controller/ValidationPlan.pm
  lib/Conch/Controller/ValidationState.pm
  lib/Conch/Controller/Workspace.pm
  lib/Conch/Controller/WorkspaceDevice.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/Controller/WorkspaceRelay.pm
  lib/Conch/Controller/WorkspaceUser.pm
  lib/Conch/Log.pm
  lib/Conch/Plugin/Database.pm
  lib/Conch/Plugin/FindHelpers.pm
  lib/Conch/Plugin/Logging.pm
  lib/Conch/Plugin/Mail.pm
  lib/Conch/Plugin/Rollbar.pm
  lib/Conch/Role/MojoLog.pm
  lib/Test/Conch.pm
  lib/Test/Conch/Fixtures.pm
  t/conch_log.t
  t/integration/00_only_1_user_loaded.t
Labels: enhancement, refactor, tests, wat

#765 seamless upgrading of validation plans, while remaining immutable
  docs/modules/Conch::Command::check_validation_plans.md
  docs/modules/Conch::Command::update_validation_plans.md
  docs/modules/Conch::Command::update_validations.md
  docs/modules/Conch::Command::update_validations_release_224.md
  docs/modules/Conch::Command::update_validations_release_225.md
  docs/modules/Conch::ValidationSystem.md
  lib/Conch/Command/check_validation_plans.pm
  lib/Conch/Command/update_validation_plans.pm
  lib/Conch/Command/update_validations_release_223.pm
  lib/Conch/Command/update_validations_release_224.pm
  lib/Conch/Command/update_validations_release_225.pm
  lib/Conch/Validation/BiosFirmwareVersion.pm
  lib/Conch/Validation/CpuCount.pm
  lib/Conch/Validation/CpuTemperature.pm
  lib/Conch/Validation/DeviceProductName.pm
  lib/Conch/Validation/DiskSmartStatus.pm
  lib/Conch/Validation/DiskTemperature.pm
  lib/Conch/Validation/FirmwareCurrent.pm
  lib/Conch/Validation/LinksUp.pm
  lib/Conch/Validation/NicsNum.pm
  lib/Conch/Validation/NvmeSsdNum.pm
  lib/Conch/Validation/RaidLunNum.pm
  lib/Conch/Validation/RamTotal.pm
  lib/Conch/Validation/SasHddNum.pm
  lib/Conch/Validation/SasSsdNum.pm
  lib/Conch/Validation/SataHddNum.pm
  lib/Conch/Validation/SataSsdNum.pm
  lib/Conch/Validation/SlogSlot.pm
  lib/Conch/Validation/SwitchPeers.pm
  lib/Conch/Validation/UsbHddNum.pm
  lib/Conch/ValidationSystem.pm
  lib/Test/Conch.pm
  t/validation-system/check_validations.t
  t/validation-system/load_validations.t
  t/validation-system/update-validation-plans.t
Labels: enhancement, v2, validation, wat

#770 doc and schema cleanup
  Makefile
  docs/validation/BaseValidation.md
  docs/validation/TestingValidations.md
  json-schema/input.yaml
  json-schema/response.yaml
  lib/Conch/Controller/Device.pm
  lib/Conch/Controller/DeviceSettings.pm
  lib/Conch/Controller/HardwareVendor.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/WorkspaceDevice.pm
  lib/Conch/Route.pm
  t/integration/00_only_1_user_loaded.t
  t/integration/04_test_datacenter_loaded.t
  t/integration/06_secured_endpoints.t
  t/integration/crud/devices.t
  t/integration/crud/validations.t
  t/integration/crud/workspace-devices.t
Labels: docs, tests, v2

#771 Bring the Development Process doc up to current reality
  docs/development.md
  docs/hw-specs/manta-storage-v3-256g-36-10tb.json
  docs/vison.md
Labels: docs

#772 tiny fixes
  docs/validation/BaseValidation.md
  docs/validation/TestingValidations.md
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/Controller/HardwareProduct.pm
  lib/Conch/Plugin/Database.pm
  lib/Test/Conch.pm
  t/pod-spelling.t
Labels: docs

#773 remove the section in docs/validation/Guide.md that relates to the shell
  docs/validation/Guide.md
Labels: docs

#774 be more consistent with http response codes and content
  lib/Conch/Controller/DeviceSettings.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/WorkspaceUser.pm
  lib/Test/Conch.pm
  t/conch_log.t
  t/database.t
  t/integration/00_only_1_user_loaded.t
  t/integration/04_test_datacenter_loaded.t
  t/integration/crud/devices.t
  t/integration/crud/workspace-devices.t
Labels: api

#776 more fixes for 2.29
  cpanfile
  cpanfile.snapshot
  docs/modules/Conch::Command::create_user.md
  docs/modules/Conch::Controller::DeviceSettings.md
  docs/modules/Conch::Controller::Login.md
  docs/modules/Conch::Controller::User.md
  docs/modules/Conch::Controller::WorkspaceDevice.md
  docs/modules/Test::Conch.md
  lib/Conch/Command/create_user.pm
  lib/Conch/Controller/DeviceValidation.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/Workspace.pm
  lib/Conch/Controller/WorkspaceDevice.pm
  lib/Conch/Controller/WorkspaceRelay.pm
  lib/Test/Conch.pm
  t/integration/00_only_1_user_loaded.t
  t/integration/04_test_datacenter_loaded.t
Labels: docs, tests

#777 fix /device/:id/interface/:iface_name/:field_name
  docs/modules/Conch::Controller::DeviceInterface.md
  docs/modules/Conch::DB::ResultSet::DeviceNic.md
  json-schema/response.yaml
  lib/Conch.pm
  lib/Conch/Controller/DeviceInterface.pm
  lib/Conch/DB/ResultSet/DeviceNic.pm
  lib/Conch/Route.pm
  lib/Conch/Route/Device.pm
  t/integration/crud/devices.t
  t/json-validation.t
Labels: api, docs

#779 add a codeowners file
  CODEOWNERS
Labels: build

#780 absolute URLs in doc links should be relative
  docs/modules/Conch::DB::AsEpoch.md
  docs/modules/Conch::DB::Deactivatable.md
  docs/modules/Conch::DB::InflateColumn::Time.md
  docs/modules/Conch::DB::Result::Datacenter.md
  docs/modules/Conch::DB::Result::DatacenterRoom.md
  docs/modules/Conch::DB::Result::Device.md
  docs/modules/Conch::DB::Result::DeviceDisk.md
  docs/modules/Conch::DB::Result::DeviceEnvironment.md
  docs/modules/Conch::DB::Result::DeviceLocation.md
  docs/modules/Conch::DB::Result::DeviceNeighbor.md
  docs/modules/Conch::DB::Result::DeviceNic.md
  docs/modules/Conch::DB::Result::DeviceRelayConnection.md
  docs/modules/Conch::DB::Result::DeviceReport.md
  docs/modules/Conch::DB::Result::DeviceSetting.md
  docs/modules/Conch::DB::Result::HardwareProduct.md
  docs/modules/Conch::DB::Result::HardwareProductProfile.md
  docs/modules/Conch::DB::Result::HardwareVendor.md
  docs/modules/Conch::DB::Result::Migration.md
  docs/modules/Conch::DB::Result::Rack.md
  docs/modules/Conch::DB::Result::RackLayout.md
  docs/modules/Conch::DB::Result::RackRole.md
  docs/modules/Conch::DB::Result::Relay.md
  docs/modules/Conch::DB::Result::UserAccount.md
  docs/modules/Conch::DB::Result::UserRelayConnection.md
  docs/modules/Conch::DB::Result::UserSessionToken.md
  docs/modules/Conch::DB::Result::UserSetting.md
  docs/modules/Conch::DB::Result::UserWorkspaceRole.md
  docs/modules/Conch::DB::Result::Validation.md
  docs/modules/Conch::DB::Result::ValidationPlan.md
  docs/modules/Conch::DB::Result::ValidationPlanMember.md
  docs/modules/Conch::DB::Result::ValidationResult.md
  docs/modules/Conch::DB::Result::ValidationState.md
  docs/modules/Conch::DB::Result::ValidationStateMember.md
  docs/modules/Conch::DB::Result::Workspace.md
  docs/modules/Conch::DB::Result::WorkspaceRack.md
  docs/modules/Conch::DB::ResultSet::UserAccount.md
  docs/modules/Conch::DB::ResultsExist.md
  docs/modules/Conch::DB::Util.md
  docs/modules/Conch::Log.md
  docs/modules/Conch::Plugin::Database.md
  docs/modules/Conch::Validation.md
  docs/modules/Conch::ValidationError.md
  docs/modules/Test::Conch.md
  docs/modules/Test::Conch::Fixtures.md
  misc/pod2githubpages
Labels: docs

#781 fix docs 2.29
  docs/modules/Conch::Route::Workspace.md
  lib/Conch/Route.pm
  lib/Conch/Route/Workspace.pm
Labels: docs

#783 test that docs don't need regenerating
  t/git-docs.t
Labels: tests

#784 add myself as a fallthrough (I hope) to the CODEOWNERS so I get added if no one else did
  CODEOWNERS
Labels: build

#787 even more 2.29 fixes
  cpanfile
  cpanfile.snapshot
  lib/Conch/Controller/WorkspaceDevice.pm
  lib/Conch/Controller/WorkspaceRelay.pm
  t/conch-status.t
  t/git-docs.t
  t/pod-spelling.t
Labels: tests

#786 validation for HDD sizes
  docs/modules/Conch::Command::add_hdd_size_validation.md
  docs/modules/Conch::Validation::HddSize.md
  json-schema/device_report.yaml
  json-schema/input.yaml
  json-schema/response.yaml
  lib/Conch/Command/add_hdd_size_validation.pm
  lib/Conch/Validation/HddSize.pm
  t/validations/hdd_size.t
Labels: validation

#766 Route Endpoint Documentation
  docs/index.md
  docs/modules/Conch::Route.md
  docs/modules/Conch::Route::Datacenter.md
  docs/modules/Conch::Route::Device.md
  docs/modules/Conch::Route::DeviceReport.md
  docs/modules/Conch::Route::HardwareProduct.md
  docs/modules/Conch::Route::HardwareVendor.md
  docs/modules/Conch::Route::Relay.md
  docs/modules/Conch::Route::User.md
  docs/modules/Conch::Route::Validation.md
  docs/modules/Conch::Route::Workspace.md
  lib/Conch/Route.pm
  lib/Conch/Route/Datacenter.pm
  lib/Conch/Route/Device.pm
  lib/Conch/Route/DeviceReport.pm
  lib/Conch/Route/HardwareProduct.pm
  lib/Conch/Route/HardwareVendor.pm
  lib/Conch/Route/Relay.pm
  lib/Conch/Route/User.pm
  lib/Conch/Route/Validation.pm
  lib/Conch/Route/Workspace.pm
  t/pod-spelling.t
Labels: docs

#788 remove remnants of old /public/doc/ documentation
  .gitignore
  Makefile
  docs/modules/Conch::Route.md
  lib/Conch/Route.pm
Labels: docs

#789 final 2.29 doc fixes
  docs/index.md
  docs/modules/Conch::Route::Workspace.md
  lib/Conch/Route/Workspace.pm
Labels: docs

#794 issue a redirect to the rack after POST /rack/:id/phase
  lib/Conch/Controller/Rack.pm
  t/integration/crud/racks.t
Labels: api

#795 add rack phase to GET /workspace/:id/rack
  json-schema/response.yaml
  lib/Conch/Controller/WorkspaceRack.pm
  t/integration/crud/workspace-rack.t
Labels: api

#798 POST /rack/:id/assignment now overwrites existing assignments
  docs/modules/Conch::Controller::Rack.md
  lib/Conch/Controller/Rack.pm
  t/integration/crud/racks.t
Labels: api, enhancement
