Repository joyent/conch-api, pull requests merged in 2019-01, with the labels that each got.

#605 handle the (rare) occurence when the last report has no validation_state
  lib/Conch/Controller/DeviceReport.pm
Labels: bug, device reports

#606 filter out top-level "report_id" field when searching for duplicate reports
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/DB/Result/Device.pm
  lib/Conch/DB/ResultSet/DeviceReport.pm
  t/integration/04_test_datacenter_loaded.t
Labels: bug, device reports

#603 cpu information is not necessarily unique
  json-schema/input.yaml
Labels: bug, device reports

#604 fix relocating a disk that was previously associated with a different device
  lib/Conch/Controller/DeviceReport.pm
  t/integration/04_test_datacenter_loaded.t
Labels: bug, device reports

#599 some housekeeping database changes
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/DB/Result/Device.pm
  lib/Conch/DB/Result/DeviceLog.pm
  lib/Conch/DB/Result/DeviceSpec.pm
  lib/Conch/DB/Result/HardwareProductProfile.pm
  lib/Conch/DB/Result/HardwareProfileSetting.pm
  sql/migrations/0069-drop-device_log.sql
  sql/migrations/0070-rename-device_spec-hardware_product_id-key.sql
  sql/migrations/0071-drop-hardware_profile_setting.sql
  sql/schema.sql
Labels: database

#614 validation CRUD stuff
  lib/Conch/Controller/DeviceValidation.pm
  lib/Conch/Controller/Validation.pm
  lib/Conch/Controller/ValidationPlan.pm
  lib/Conch/Route/Validation.pm
  t/integration/04_test_datacenter_loaded.t
  t/integration/crud/validations.t
Labels: api, device reports, enhancement

#617 loosen PostgreSQL version restriction
  lib/Conch/Plugin/Database.pm
Labels: database

#612 Serve Schemas from the API
  lib/Conch/Controller/Schema.pm
  lib/Conch/Route.pm
  misc/validate
  t/schema.t
Labels: api, enhancement

#627 another set of small cleanups
  cpanfile
  cpanfile.snapshot
  docs/validation/BaseValidation.md
  docs/validation/Guide.md
  json-schema/input.yaml
  lib/Conch/Command/update_validation_states.pm
  lib/Conch/Command/workspaces.pm
  lib/Conch/Controller/DatacenterRackRole.pm
  lib/Conch/Controller/Device.pm
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/Controller/DeviceSettings.pm
  lib/Conch/Controller/DeviceValidation.pm
  lib/Conch/Controller/HardwareVendor.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/Schema.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/ValidationPlan.pm
  lib/Conch/Controller/WorkspaceDevice.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/DB/ResultSet/DatacenterRack.pm
  lib/Conch/DB/ResultSet/Device.pm
  lib/Conch/DB/ResultSet/DeviceLocation.pm
  lib/Conch/DB/ResultSet/UserAccount.pm
  lib/Conch/DB/ResultSet/UserSessionToken.pm
  lib/Conch/DB/ResultSet/UserWorkspaceRole.pm
  lib/Conch/DB/ResultSet/ValidationState.pm
  lib/Conch/DB/ResultSet/Workspace.pm
  lib/Conch/Plugin/Rollbar.pm
  lib/Conch/Route.pm
  lib/Conch/Validation.pm
  lib/Conch/ValidationError.pm
  lib/Conch/ValidationSystem.pm
  lib/Test/Conch.pm
  misc/validate
  t/database.t
  t/integration/00_only_1_user_loaded.t
  t/integration/crud/unsecured-endpoints.t
  t/pod-spelling.t
  t/schema.t
  t/validation-system/run_validations.t
  t/validations/bios_firmware_version_v1.t
  t/validations/ram_total_v1.t
Labels: refactor

#629 drop unused device_spec table
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/DB/Result/Device.pm
  lib/Conch/DB/Result/DeviceSpec.pm
  sql/migrations/0073-drop-device_spec.sql
  sql/schema.sql
Labels: database, device reports

#630 clean up device queries and permission checks
  json-schema/response.yaml
  lib/Conch/Controller/Device.pm
  lib/Conch/Controller/DeviceSettings.pm
  lib/Conch/DB/ResultSet/UserWorkspaceRole.pm
  lib/Test/Conch.pm
  lib/Test/Conch/Fixtures.pm
  t/integration/04_test_datacenter_loaded.t
  t/integration/crud/devices.t
  t/pod-spelling.t
Labels: bug, refactor

#632 Rework the dockerfiles to reduce the base image size by ~300MB
  Dockerfile
  Dockerfile.dev
Labels: build, docker
