Repository joyent/conch-api, pull requests merged in 2019-07, with the labels that each got.

#822 command-line utility to create an api token
  docs/modules/Conch::Command::create_token.md
  docs/modules/index.md
  lib/Conch/Command/create_token.pm
Labels: enhancement, v3

#820 v3: small db changes
  docs/modules/Conch::DB::Result::HardwareProduct.md
  docs/modules/Conch::DB::Result::HardwareProductProfile.md
  docs/modules/Conch::DB::Result::Migration.md
  docs/modules/Conch::DB::Result::UserWorkspaceRole.md
  docs/modules/Conch::DB::Result::Validation.md
  docs/modules/Conch::DB::Result::ValidationPlan.md
  docs/modules/Conch::DB::Result::ValidationResult.md
  docs/modules/Conch::DB::Result::ValidationState.md
  docs/modules/Conch::DB::Result::Workspace.md
  docs/modules/Conch::Validation.md
  json-schema/common.yaml
  json-schema/request.yaml
  json-schema/response.yaml
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/Controller/Rack.pm
  lib/Conch/Controller/RackLayout.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/DB/Result/HardwareProduct.pm
  lib/Conch/DB/Result/HardwareProductProfile.pm
  lib/Conch/DB/Result/Migration.pm
  lib/Conch/DB/Result/UserWorkspaceRole.pm
  lib/Conch/DB/Result/Validation.pm
  lib/Conch/DB/Result/ValidationPlan.pm
  lib/Conch/DB/Result/ValidationResult.pm
  lib/Conch/DB/Result/ValidationState.pm
  lib/Conch/DB/Result/Workspace.pm
  lib/Conch/DB/ResultSet/Rack.pm
  lib/Conch/DB/ResultSet/RackLayout.pm
  lib/Conch/Validation.pm
  lib/Conch/Validation/DiskSmartStatus.pm
  lib/Conch/Validation/DiskTemperature.pm
  lib/Conch/Validation/HddSize.pm
  lib/Conch/Validation/SwitchPeers.pm
  lib/Conch/ValidationSystem.pm
  lib/Test/Conch/Fixtures.pm
  sql/migrations/0101-migration-table.sql
  sql/migrations/0102-drop-uuid-ossp.sql
  sql/migrations/0103-validation_status_enum-processing.sql
  sql/migrations/0104-validation_result-component.sql
  sql/migrations/0105-hardware_product-rack_size.sql
  sql/migrations/0106-integer-constraints.sql
  sql/migrations/0107-user_workspace_role_unique.sql
  sql/schema.sql
  t/integration/crud/hardware-product.t
  t/integration/device-reports.t
  t/integration/device-validations.t
  t/lib/Conch/Validation/ExternalException.pm
  t/lib/Conch/Validation/MultipleResults.pm
  t/lib/Conch/Validation/MutateDevice.pm
  t/lib/Conch/Validation/TestConchValidationTester.pm
  t/validation-system/run_validations.t
  t/validation-system/test-conch-validation.t
Labels: api, breaking, database, needs-shell, needs-ui, v3

#827 v3: relays!
  docs/modules/Conch::Controller::Relay.md
  docs/modules/Conch::DB::Result::DeviceRelayConnection.md
  docs/modules/Conch::DB::Result::Relay.md
  docs/modules/Conch::DB::Result::UserRelayConnection.md
  docs/modules/Conch::Route::Relay.md
  json-schema/common.yaml
  json-schema/device_report.yaml
  json-schema/request.yaml
  json-schema/response.yaml
  lib/Conch/Controller/DeviceReport.pm
  lib/Conch/Controller/Relay.pm
  lib/Conch/DB/Result/DeviceRelayConnection.pm
  lib/Conch/DB/Result/Relay.pm
  lib/Conch/DB/Result/UserRelayConnection.pm
  lib/Conch/Route/Relay.pm
  lib/Conch/Route/Workspace.pm
  sql/migrations/0108-relay-id-is-uuid.sql
  sql/schema.sql
  t/integration/crud/devices.t
  t/integration/crud/relay.t
  t/integration/crud/workspace-devices.t
  t/integration/device-reports.t
  t/integration/device-validations.t
Labels: api, breaking, database, enhancement, needs-shell, v3

#830 allow null entries in /dimms/<int>/memory-size
  json-schema/device_report.yaml
Labels: bug, device reports

#831 fix: memory-serial-number might also be null
  json-schema/device_report.yaml
Labels: bug, device reports

#832 clean up user authentication
  cpanfile
  cpanfile.snapshot
  dev/sql/01-dev-user.sql
  docs/modules/Conch::Controller::Login.md
  docs/modules/Conch::Controller::User.md
  docs/modules/Conch::DB::Result::UserAccount.md
  docs/modules/Conch::DB::Result::UserSessionToken.md
  docs/modules/Conch::DB::ResultSet::UserAccount.md
  docs/modules/Conch::DB::ResultSet::UserSessionToken.md
  docs/modules/Conch::Plugin::AuthHelpers.md
  lib/Conch/Command/create_token.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/User.pm
  lib/Conch/DB/Result/UserAccount.pm
  lib/Conch/DB/Result/UserSessionToken.pm
  lib/Conch/DB/ResultSet/UserAccount.pm
  lib/Conch/DB/ResultSet/UserSessionToken.pm
  lib/Conch/Plugin/AuthHelpers.pm
  lib/Conch/Plugin/Logging.pm
  lib/Conch/Plugin/Rollbar.pm
  lib/Test/Conch.pm
  lib/Test/Conch/Fixtures.pm
  sql/migrations/0120-user_session_token-id-is-uuid.sql
  sql/migrations/0121-user_account-password.sql
  sql/schema.sql
  t/conch-log.t
  t/database.t
  t/integration/users.t
Labels: api, breaking, database, enhancement, refactor, security, v3

#838 In Docker, upgrade Postgres to v10
  .dockerignore
  Dockerfile
  Dockerfile.dev
  README.md
  lib/Conch/Plugin/Database.pm
Labels: database, v3

#836 v3: more small fixes
  .gitattributes
  .gitignore
  CODEOWNERS
  Makefile
  conch.conf.dist
  cpanfile
  cpanfile.snapshot
  dev/README.md
  dev/sql/01-dev-user.sql
  docker-compose.yml
  docker/buildbot-release.bash
  docker/builder.sh
  docker/compose.yml.dist
  docker/dev_test.bash
  docs/development.md
  docs/modules/Conch::Controller::WorkspaceRack.md
  docs/modules/Conch::DB::Result::UserAccount.md
  docs/modules/Conch::Route::Workspace.md
  docs/validation/Guide.md
  json-schema/request.yaml
  json-schema/response.yaml
  lib/Conch/Controller/Device.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/Rack.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/DB/Result/UserAccount.pm
  lib/Conch/DB/Result/Workspace.pm
  lib/Conch/Plugin/AuthHelpers.pm
  lib/Conch/Plugin/JsonValidator.pm
  lib/Conch/Plugin/Logging.pm
  lib/Conch/Plugin/Rollbar.pm
  lib/Conch/Route/Workspace.pm
  lib/Test/Conch.pm
  misc/extract-schema
  misc/ghch
  misc/pod2githubpages
  report/README.md
  smf/conch.xml
  sql/migrations/0109-device-id-is-uuid.sql
  sql/migrations/0122-user_account-last_seen.sql
  sql/schema.sql
  t/conch-log.t
  t/integration/crud/racks.t
  t/integration/crud/workspace-rack.t
  t/integration/crud/workspace.t
  t/integration/users.t
  t/schema.t
Labels: api, breaking, bug, database, tests

#839 v3: more small fixes, part 2
  bin/conch-db
  cpanfile
  cpanfile.snapshot
  docs/index.md
  docs/modules/Conch::Controller::Rack.md
  docs/modules/Conch::Controller::User.md
  docs/modules/Conch::Controller::Workspace.md
  docs/modules/Conch::DB::Result::Datacenter.md
  docs/modules/Conch::DB::ResultSet::UserAccount.md
  docs/modules/Conch::DB::Util.md
  docs/modules/Conch::Plugin::Database.md
  docs/modules/Conch::Plugin::FindHelpers.md
  docs/modules/Conch::Route::Datacenter.md
  docs/modules/Conch::Route::User.md
  docs/modules/Test::Conch.md
  docs/modules/index.md
  lib/Conch.pm
  lib/Conch/Command/create_token.pm
  lib/Conch/Controller/Datacenter.pm
  lib/Conch/Controller/Login.pm
  lib/Conch/Controller/Rack.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/Workspace.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/Controller/WorkspaceUser.pm
  lib/Conch/DB/Result/Datacenter.pm
  lib/Conch/DB/ResultSet/Device.pm
  lib/Conch/DB/ResultSet/UserAccount.pm
  lib/Conch/DB/Util.pm
  lib/Conch/Plugin/ClientVerification.pm
  lib/Conch/Plugin/Database.pm
  lib/Conch/Plugin/FindHelpers.pm
  lib/Conch/Route/Datacenter.pm
  lib/Conch/Route/User.pm
  lib/Conch/Route/Workspace.pm
  lib/Test/Conch.pm
  lib/Test/Conch/Fixtures.pm
  sql/migrations/0123-better-indexes.sql
  sql/migrations/0124-datacenter-uniqueness.sql
  sql/schema.sql
  t/client-verification.t
  t/integration/crud/datacenter.t
  t/integration/crud/devices.t
  t/integration/crud/hardware-vendor.t
  t/integration/crud/racks.t
  t/integration/crud/relay.t
  t/integration/crud/workspace-rack.t
  t/integration/crud/workspace.t
  t/integration/users.t
Labels: database, enhancement, refactor, tests

#840 v2: no log report data
  cpanfile
  cpanfile.snapshot
  lib/Conch/Validation.pm
  t/validation-system/exceptions.t
Labels: device reports, v2, validation

#841 do not dump the entire device report into the log on error
  lib/Conch/Validation.pm
  t/validation-system/exceptions.t
Labels: device reports, v2, validation

#844 v2: log unmatched routes
  docs/modules/Test::Conch.md
  lib/Conch/Route.pm
  lib/Test/Conch.pm
  t/conch-status.t
  t/conch_log.t
  t/database.t
  t/integration/crud/unsecured-endpoints.t
Labels: api, v2

#845 fix: hdd_size validation when specification is unset
  lib/Conch/Validation/HddSize.pm
Labels: bug, v2, validation

#846 $message should never be undef here
  lib/Conch/Validation.pm
Labels: bug, v2, validation, wat

#847 $message is undef here too
  lib/Conch/Validation.pm
Labels: bug, v2, validation

#848 v2: undef message 3
  lib/Conch/Validation.pm
Labels: bug, v2, validation, wat

#843 v3: more small fixes part3
  docs/modules/Conch::Controller::User.md
  docs/modules/Conch::DB::ResultSet::UserAccount.md
  docs/modules/Test::Conch.md
  json-schema/query_params.yaml
  json-schema/response.yaml
  lib/Conch.pm
  lib/Conch/Controller/User.pm
  lib/Conch/Controller/WorkspaceRack.pm
  lib/Conch/Controller/WorkspaceRelay.pm
  lib/Conch/Controller/WorkspaceUser.pm
  lib/Conch/DB/AsEpoch.pm
  lib/Conch/DB/Deactivatable.pm
  lib/Conch/DB/Result/UserAccount.pm
  lib/Conch/DB/ResultSet/Rack.pm
  lib/Conch/DB/ResultSet/UserAccount.pm
  lib/Conch/DB/ResultSet/Workspace.pm
  lib/Conch/DB/Util.pm
  lib/Conch/Route.pm
  lib/Conch/Validation.pm
  lib/Conch/Validation/HddSize.pm
  lib/Test/Conch.pm
  sql/migrations/0123-better-indexes.sql
  sql/schema.sql
  t/conch-log.t
  t/conch-status.t
  t/database.t
  t/integration/crud/relay.t
  t/integration/crud/workspace-rack.t
  t/integration/unsecured-endpoints.t
  t/json-validation.t
Labels: api
